.loader__container{
    width: 100%;
    padding: calc(var(--index)*3) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: calc(var(--index)*3);
    height: calc(var(--index)*3);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: calc(var(--index)*0.3) solid;
    border-color: var(--main-color) var(--main-color) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: calc(var(--index)*0.3) solid;
    border-color: transparent var(--text-color) var(--text-color);
    width: calc(var(--index)*1.5);
    height: calc(var(--index)*1.5);
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }