.login {
    width: 100%;
    height: 100dvh;
    padding: calc(var(--index)*2.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--index)*1.65);
}

.Swiper {
    width: 55%;
    height: 100%;
}

.login__container {
    width: 85%;
    display: flex;
    align-items: center;
    // overflow: hidden;
    border: calc(var(--index)*0.15) solid var(--border-color);
    border-radius: 0 calc(var(--index)*0.5) calc(var(--index)*0.5) calc(var(--index)*0.5);
    position: relative;

    .back-button {
        border-radius: calc(var(--index)*0.3) calc(var(--index)*0.3) 0 0;
        background-color: var(--other-bg-color);
        width: calc(var(--index)*2.4);
        height: calc(var(--index)*2.1);
        position: absolute;
        border: calc(var(--index)*0.15) solid var(--border-color);
        left: calc(var(--index)*-0.1);
        top: 0;
        transform: translateY(-100%);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        svg {
            fill: var(--text-color);
            font-size:calc(var(--index)*1.15);
        }
    }
}

.login-div {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--index)*1.8);
    padding: calc(var(--index)*1.8) calc(var(--index)*1.2);
    background: var(--other-bg-color);

    h1 {
        font-size: calc(var(--index)*1.8);
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--index)*0.6);

        label {
            font-size: calc(var(--index)*0.85);
        }

        input {
            width: 100%;
            padding: calc(var(--index)*0.4) calc(var(--index)*0.5);
            border: calc(var(--index)*0.1) solid var(--text-color);
            border-radius: calc(var(--index)*0.25);
            font-size: calc(var(--index)*1);
            background-color: var(--bg-color);
        }
    }

    button {
        width: 100%;
        padding: calc(var(--index)*0.65) calc(var(--index)*2);
        background: var(--main-color);
        color: var(--any-text-color);
        border-radius: calc(var(--index)*6);
        font-size: calc(var(--index)*1);
        cursor: pointer;
        transition: 0.25s ease;
        font-weight: 500;

        &:hover {
            filter: brightness(80%);
        }
    }

    p {
        font-size: calc(var(--index)*1);
        width: calc(var(--index)*15);
        text-align: center;
        line-height: calc(var(--index)*1.5);
        font-weight: 500;
        a {
            font-weight: 700;
            color: var(--other-text-color);
        }
    }
}

@media (max-width: 950px) {
    .Swiper {
        display: none;
    }
    .login-div {
        width: 100%;
        gap: calc(var(--index)*2.5);
        border: calc(var(--index)*0.15) solid var(--border-color);

        h1 {
            font-size: calc(var(--index)*2.8);
        }

        div {
            label {
                font-size: calc(var(--index)*1.2);
            }

            input {
                font-size: calc(var(--index)*1.2);
                padding: calc(var(--index)*0.8) calc(var(--index)*0.7);
            }
        }

        button {
            font-size: calc(var(--index)*1.5);
        }

        p {
            font-size: calc(var(--index)*1.3);
            line-height: calc(var(--index)*1.7);
        }
    }
}

@media (max-width: 530px) {
    .login {
        height: calc(100dvh - calc(var(--index)*5.3));
    }
}