@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MonteCarlo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
}

:root {
    --main-color: #0DA34B;
    --util-main-color: #D3A84C;
    --borderOf-main-color: #45E286;
    --bg-color: #FFF;
    --util-bg-color: #F6F6F6;
    --text-color: #2F3832;
    --any-text-color: #FFF;
    --other-text-color: #000;
    --other-bg-color: #F5F5F5;
    --main-text-color: #00917C;
    --border-color: #E8EBEF;
    --util-text-color: #585656;
    --index: calc(1vw + 1vh);
    --other-font: "Montserrat", sans-serif;
    --main-font: "Plus Jakarta Sans", sans-serif;
    --util-font: "Bebas Neue", sans-serif;
}

::selection {
    background: var(--text-color);
    color: var(--bg-color);
}

body {
    background-color: var(--bg-color)
}

@import "./components/Main.scss";
@import "./components/Navbar.scss";
@import "./components/main/Header.scss";
@import "./components/main/WhichOne.scss";
@import "./components/main/AboutPov.scss";
@import "./components/main/CoursesTarif.scss";
@import "./components/main/Feedback.scss";
@import "./components/main/BonusVideo.scss";
@import "./components/main/Footer.scss";
@import "./components/main/PopUp.scss";
@import "./components/Loader.scss";
@import "./components/Login/Carusel.scss";
@import "./pages/Login.scss";
@import "./pages/Courses.scss";
@import "./pages/FullCourse.scss";
@import "./pages/LogedInMain.scss";
@import "./pages/LogedInMain/BoughtCourses.scss";
