.footerM {
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background: url('https://static.tildacdn.com/tild3431-3630-4339-b463-336633373636/__2022-02-11__122243.jpg') center/cover;
}

.footer-div {
    width: 100%;
    height: calc(var(--index)*29);
    padding: calc(var(--index)*1) 0;
    padding-bottom: 0;
}

.f-text {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffff86;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--index)*2);
    top: 0;
    left: 0;

    button {
        font-size: calc(var(--index)*1.2);
        color: var(--any-text-color);
        font-weight: 500;
        border-radius: calc(var(--index)*6);
        background-color: var(--main-color);
        padding: calc(var(--index)*0.8) calc(var(--index)*5);
        cursor: pointer;
        transition: 0.25s ease;

        &:hover {
            transform: translateY(-5%);
            filter: brightness(92%);
            box-shadow: 0 calc(var(--index)*0.4) calc(var(--index)*0.5) rgba(0, 0, 0, 0.288);
        }
    }

    h1 {
        width: 50%;
        font-size: calc(var(--index)*2.2);
        text-align: center;
        line-height: calc(var(--index)*2.9);
        color: rgba(0, 0, 0, 0.87);
    }
}

.intro-div {
    padding: calc(var(--index)*0.5) calc(var(--index)*0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: calc(var(--index)*0.2) solid var(--main-color);
    border-radius: calc(var(--index)*0.5);
    gap: calc(var(--index)*0.6);
    user-select: none;
    background-color: #ffffff6b;

    .ico img {
        width: calc(var(--index)*2.3);
        height: calc(var(--index)*2.5);
        object-fit: scale-down;
    }

    h3 {
        font-size: calc(var(--index)*1);
        font-weight: 600;
        color: rgba(0, 0, 0, 0.87);
    }
}