.whyThisCourse{
    width: 100%;
    height: auto;
    padding: calc(var(--index)*1.8) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--index)*2);

    h1{
        text-align: center;
        font-size: calc(var(--index)*2);

        span{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: calc(var(--index)*0.15);
                background-color: var(--main-color);
                bottom: calc(var(--index)*-0.05);
                left: 0;
            }
        }
    }
}

.steps{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: calc(var(--index)*1.8);

    .step-div{
        width: 48%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: calc(var(--index)*0.8);

        .rad{
            width: calc(var(--index)*1.5);
            height: calc(var(--index)*1.5);
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--main-color);
            border-radius: 100%;
            
            p{
                color: var(--any-text-color);
                font-size: calc(var(--index)*0.7);
            }
        }

        .step-tex{
            width: calc(100% - 40px);
        
            p{
                font-size: calc(var(--index)*0.9);
                line-height: calc(var(--index)*1.4);
            }
        
            span{
                font-weight: 600;
                color: var(--other-text-color);
            }
        }
    }
}

.thisCourse-cover{
    width: 80%;
    height: calc(var(--index)*30);

    img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}