.AboutPov {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--index)*2);
    padding: calc(var(--index)*1.8) 0;

    h1 {
        font-size: calc(var(--index)*2.2);
        font-weight: 700;
    }
}

.PovInfo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .PovImage {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;

        img {
            border-radius: calc(var(--index)*0.1);
            box-shadow: calc(var(--index)*0.8) calc(var(--index)*-0.8) calc(var(--index)*0.6) rgba(0, 0, 0, 0.274);
            object-fit: cover;
        }

        .firstPovPart {
            width: 100%;
            height: calc(var(--index)*23);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: calc(var(--index)*1);

            img {
                width: 100%;
                height: 100%;

                &:nth-child(2) {
                    height: 65%;
                }
            }
        }

        .secondPovPart {
            width: calc(var(--index)*17.5);
            height: calc(var(--index)*12);
            position: absolute;
            bottom: calc(var(--index)*-9);
            left: 50%;
            transform: translateX(-60%);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.PovPrefers {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--index)*1.2);

    h3 {
        text-align: center;
        font-size: calc(var(--index)*1.1);
        font-weight: 600;
    }

    .prefers {

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: calc(var(--index)*1.2);

            li {
                font-size: calc(var(--index)*0.9);
                line-height: calc(var(--index)*1.2);

                span {
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 870px) {
    .PovInfo {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: calc(var(--index)*2);

        .PovImage {
            width: 90%;
            height: calc(var(--index)*35);

            .firstPovPart {
                gap: calc(var(--index)*1.5);
            }

            .secondPovPart {
                bottom: calc(var(--index)*0.5);
                width: calc(var(--index)*20.5);
                height: calc(var(--index)*14);
            }
        }

        .PovPrefers {
            width: 80%;

            h3 {
                font-size: calc(var(--index)*1.8);
            }

            .prefers {
                ul {
                    gap: calc(var(--index)*1.6);

                    li {
                        font-size: calc(var(--index)*1.2);
                        line-height: calc(var(--index)*1.8);
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .PovInfo {
        .PovImage {
            width: 95%;
            height: auto;
            gap: calc(var(--index)*1.5);

            .firstPovPart {
                img {
                    width: 100%;
                    height: 100%;

                    &:nth-child(2) {
                        height: 100%;
                    }
                }
            }

            .secondPovPart {
                width: 100%;
                position: relative;
                bottom: 0;
                left: 0;
                transform: translateX(0);
                height: calc(var(--index)*20);
            }
        }

        .PovPrefers {
            width: 95%;
            gap: calc(var(--index)*1.8);

            h3 {
                font-size: calc(var(--index)*2.3);
            }

            .prefers {
                ul {
                    gap: calc(var(--index)*2);

                    li {
                        font-size: calc(var(--index)*1.5);
                        line-height: calc(var(--index)*2.2);
                    }
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .PovInfo {
        .PovImage {
            width: 100%;

            .firstPovPart {
                height: calc(var(--index)*15);

                img {
                    object-fit: cover;
                }
            }

            .secondPovPart {
                height: calc(var(--index)*15);
            }
        }
    }
}