.AboutPov {
    width: 100%;
    height: auto;
    padding: 0 calc(var(--index)*2.5);
    padding-top: calc(var(--index)*2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--index)*1.8);
    background-color: var(--util-bg-color);
    position: relative;
    z-index: 3;
}

.about__text {
    text-align: center;

    h1 {
        font-size: calc(var(--index)*4);
        font-family: var(--util-font);
        color: var(--other-text-color);
        font-weight: 400;

        span {
            color: var(--main-text-color);
            font-family: var(--util-font);
            font-weight: 400;
        }
    }

    p {
        font-size: calc(var(--index)*0.9);
        color: var(--util-text-color);
        font-weight: 500;
        font-family: var(--other-font);
    }
}

.about__container {
    width: 100%;
    height: auto;
    background: url('../../../assets/backgrounds/justBg.png') center/cover no-repeat;
    border: calc(var(--index)*0.2) solid #00917C;
    border-radius: calc(var(--index)*0.5);

    .about__container2 {
        width: 100%;
        height: auto;
        border-radius: calc(var(--index)*0.35);
        background: #00917CB2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: calc(var(--index)*1.5);
        position: relative;

        .pov__image{
            width: calc(var(--index)*17);
            height: auto;
            position: absolute;
            bottom: calc(var(--index)*-0.2);
            left: 0;

            img{
                width: 100%;
            }
        }

        .pov__info{
            width: calc(var(--index)*42);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(var(--index)*1.8);
            padding: calc(var(--index)*1.5) 0;

            .info__title{
                i{
                    transform: translateX(-5%);
                    display: inline-block;
                    font-size: calc(var(--index)*3);
                    color: var(--any-text-color);
                    font-weight: 400;
                    font-family: "MonteCarlo", cursive;
                }

                p{
                    font-size: calc(var(--index)*1);
                    color: var(--any-text-color);
                    font-weight: 700;
                    font-family: var(--other-font);
                }
            }

            .info__subtitle{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: calc(var(--index)*0.6);

                .subtitle{
                    display: flex;
                    align-items: center;

                    p{
                        font-size: calc(var(--index)*0.9);
                        font-weight: 600;
                        font-family: "Poppins", sans-serif;
                        color: var(--any-text-color);
                        display: flex;
                        align-items: center;
                        gap: calc(var(--index)*0.5);
                        img {
                            width: calc(var(--index)*1);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1115px) {
    .about__container {
        .about__container2{

            .pov__image {
                display: none;
            }
            .pov__info {
                width: calc(var(--index)*36);
            }
        }
    }
}
@media (max-width: 900px) {
    .about__container {
        .about__container2{
            .pov__info {
                width: calc(var(--index)*30);
            }
        }
    }
}

@media (max-width: 760px) {
    .about__container {
        .about__container2{
            .pov__info {
                width: 100%;
                padding: calc(var(--index)*1.5);

                .info__subtitle {
                    .subtitle {
                        align-items: flex-start;

                        p{
                            align-items: flex-start;

                            img {
                                transform: translateY(40%);
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}